body {
	background: #567;
	font-family: 'Open Sans', sans-serif;
}

#header {
	height: 100px;
	background: #cf2029;
}

#headerlogo {
	float: left;
	margin-top: 1%;
	margin-left: 2%;
}

#imagelogo {
	height: 75px;
	width: 280px;
}

#headertext {
	font-family: 'Open Sans', sans-serif;
	color: #cf2029;
}

#ui-datepicker-div {
	display: none;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.formerror {
	color: red;
	font-size: 12px;
	margin-left: 1%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.displayNone {
	display:none
}

.usernameChooserLink {
	font-size: 13px;
    text-align: right;
    margin-top: -3%;
    margin-bottom: 3%;
	
}

.reset-password__note {
    text-align: center;
    max-width: 250px;
    font-weight: 300;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 9px auto 0;
    color: rgba(0,0,0,.54);
    margin-bottom: 20px;
}


.forgotContainer {
	width: 400px;
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 60px;
	background-color: #f0f0f0;
	color: #FFF;
	text-align: center;
	margin-top: 4%;
	background: #f0f0f0;
}

.forgotContainer .reset-password__note {
    text-align: center;
    max-width: 150px;
    font-weight: 400;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 9px auto 0;
    color: rgba(0,0,0,.54);
    margin-bottom: 20px;
}

.forgotContainer2 a{
    font-size: 12px;
	color: #3399cc;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.forgotContainer2 label{
	padding-top: 20px;
    font-size: 12px;
    font-weight: 300;
	color: #757575;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.forgotContainer2 {
	width: 400px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	text-align: center;
	margin: auto;
}


.forgotContainer2 h1{
	background: #3399cc;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

