body {
	/* background: #567; */
	background: #535353;
	background-image: url("/images/bg-min.jpg");
	font-family: 'Open Sans', sans-serif;
}

#header {
	height: 100px;
	background: #cf2029;
}

#headerlogo {
	float: left;
	margin-top: 1%;
	margin-left: 2%;
}

#imagelogo {
	height: 70px;
	width: 95px;
}

#headertext {
	font-family: 'Open Sans', sans-serif;
	color: #cf2029;
}

#ui-datepicker-div {
	display: none;
}

#logoutId {
	margin-left: -10%;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.formerror {
	color: red;
	font-size: 12px;
	margin-left: 1%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.displayNone {
	display:none
}

.usernameChooserLink {
	font-size: 13px;
    text-align: right;
    margin-top: -3%;
    margin-bottom: 3%;
	
}

.reset-password__note {
    text-align: center;
    max-width: 250px;
    font-weight: 300;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 9px auto 0;
    color: rgba(0,0,0,.54);
    margin-bottom: 20px;
}


.forgotContainer {
	width: 400px;
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 60px;
	background-color: #f0f0f0;
	color: #FFF;
	text-align: center;
	margin-top: 3%;
	background: #f0f0f0;
}

.forgotContainer .reset-password__note {
    text-align: center;
    max-width: 150px;
    font-weight: 400;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 9px auto 0;
    color: rgba(0,0,0,.54);
    margin-bottom: 20px;
}

.forgotContainer2 a{
    font-size: 12px;
	color: #3399cc;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.forgotContainer2 label{
	padding-top: 20px;
    font-size: 12px;
    font-weight: 300;
	color: #757575;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.forgotContainer2 {
	width: 400px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	text-align: center;
	margin: auto;
}


.forgotContainer2 h1{
	background: #3399cc;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

.headermenu {
	background-color: brown;
	margin-bottom: 1.5%;
}

.headermenu a {
	color: white;
}

.row-header-headings {
	color: #2e6da4;
	font-size: 18px;
}

.level-2-grp {
	margin-right: 1.5%;
	margin-top: -5%;
}

.forgotContainer2 .message {
	width: 400px;
	margin: auto;
	margin-top: 2%;
	text-align: center;
}

.forgotContainer2 .alert {
	margin-bottom: 0px;
}

.mar-t-b-10 {
		
    margin-top: 10px;
    margin-bottom: 10px;
		
}

.mar-bot-0{
	margin-bottom: 0px;
}

.mar-r-10 {
	margin-right:10px;
}

.modal-dialog {
	margin-top: 7%;
}

.modal-dialog {
	margin-top: 7%;
}

a#approveBtn:link, a#approveBtn:visited, a#approveBtn:active  {
    color: #4CBB17;
}

a#approveBtn:hover {
    color: #00A86B;
}

a#rejectBtn:link, a#rejectBtn:visited, a#rejectBtn:active {
    color: #C21807;
    padding-left: 5px;
    padding-right: 5px;
}

a#rejectBtn:hover {
    color: #960018;
    padding-left: 5px;
    padding-right: 5px;
}

a#previewBtn:link, a#previewBtn:visited, a#previewBtn:active {
    color: 	#318CE7;
}
a#previewBtn:hover {
    color: #1034A6;
}

.success{
	font-size:80px; 
	margin-bottom: 20px; 
	color: #3399cc;
}

.pad-bot-30{
	padding-top: 30px;
}

.mar-top-10{
	margin-top: 10px;
}

.pad-l-r-0 {
	padding-right: 0px;
	padding-left: 0px;	
}

.mar-top-5 {
	margin-top: 5px;
}

.navbar-nav>li>a:hover {
    background-color: #902222;
}

div.spinnerImg{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background: url(../images/spinner2.gif);
    background-size: 100%;
}


.spinnerDiv{
    z-index: 1000000;
    background: #e9e9e9;  
    display: none;       
    position: absolute;   
    top: 0;                 
    right: 0;               
    bottom: 0;
    left: 0;
    opacity: 0.5;
}