#anxtable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 2%;
}

#anxtable td, #anxtable th {
	padding: 8px;
}

#anxtable tr:nth-child(even) {
	background-color: #34495E;
	border-color: lighten(#34495E, 10%);
}

#anxtable tr:hover {
	background-color: #418a95;
}

#anxtable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3399cc;
	color: whitesmoke;
}

#anxtable td {
	color: #36454F;
	background-color: #d9edf7;
}

<!-- DATA TABLE -->
#anxtable_length {
	float: left;
}

#anxtable_filter {
	float: right;
}

#anxtable_info {
	color: whitesmoke;
	float: left;
}

.dataTables_paginate {
    background-color: lightslategrey;
    float: right;
}

.dataTables_paginate a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.dataTables_paginate a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.dataTables_paginate a:hover:not(.active) {background-color: #ddd;}

.btnApprove {
	background-color: cadetblue;
	width: 90px;
}

.btnReject {
	background-color: crimson;
	width: 90px;
}

.dataTables_length{
	float: left;
	color: #36454F;
	margin-left: 5px;
}

.dataTables_filter{
	margin-bottom: 5px;
}

#anxtable.table{
	margin-bottom: 12px;
}

