#anxtable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 2%;
}

#anxtable td, #anxtable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#anxtable tr:nth-child(even) {
	background-color: #34495E;
	border-color: lighten(#34495E, 10%);
}

#anxtable tr:hover {
	background-color: #418a95;
}

#anxtable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #34495E;
	color: #dd5;
}

#anxtable td {
	color: white;
}

<!-- DATA TABLE -->
#anxtable_length {
	float: left;
}

#anxtable_filter {
	float: right;
}

#anxtable_info {
	display: none;
}

.dataTables_paginate {
    background-color: lightslategrey;
    float: right;
}

.dataTables_paginate a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.dataTables_paginate a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.dataTables_paginate a:hover:not(.active) {background-color: #ddd;}

.btnApprove {
	background-color: cadetblue;
	width: 90px;
}

.btnReject {
	background-color: crimson;
	width: 90px;
}

